/*  */
body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 14px;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    text-align: ;

}

.logo {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    

}
.logo-text {
    color: #2E2F42;
}

.logo {}

.nav {
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
}

menu {}


h2,
h3 {
    color:#2E2F42;
}
