/*  */
body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 14px;
    
}

ul,
li {
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

nav,
li,
a,
button {
    cursor: pointer;
}

.header {
    text-align: justify;

}

.logo {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

}
.logo-text {
    color: #2E2F42;
}

.nav {
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
    text-align:center; 
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.contacts {
    text-align: left;
}

.baner {
    background-color: #2E2F42;
}

.business {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 24px;
}

.btn-business {
    color: #ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    border: none;    
}

.about-block {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 24px;
}

h2,
h3 {
    color:#2E2F42;
    letter-spacing: 0.02em;
    line-height: 24px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

h3 {
    font-size: 20px;
    font-weight: 500;

}
.text {
    font-size: 16px;
    font-weight: 400;
}

.block-footer {
    background-color: #2E2F42;
}

.footer {
    color: #f4f4fd;


}

.logo-footer {
    color: #f4f4fd;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
